<!DOCTYPE html>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
    <head> 
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="content">
            <h1>Strona główna systemu alrmowego!</h1>
            <h2>Zalogowany: {{ test }}</h2>
            <form method="post" action="/">
                <input type="submit" value="VALUE1" name="action1"/>
                <input type="submit" value="VALUE2" name="action2" />
            </form>            
        </div>
    </body>

</html>