<!DOCTYPE html>
<html>

<head>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
            text-align: center;
        }

        form {
            margin-top: 10px;
        }

        input[type="submit"] {
            padding: 10px 20px; /* Adjust padding for larger buttons */
            font-size: 16px;   /* Adjust font size for larger buttons */
        }
    </style>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="content">
        <h1>Strona główna systemu alarmowego!</h1>
        <h2>{{ info }}</h2>


        <form method="post" action="/">
            <input type="submit" value="Wyloguj" name="action2" />
        </form>

        <form method="post" action="/entries">
            <input type="submit" value="Sprawdź wejścia" name="action1" />
        </form>

        <form method="post" action="/options">
            <input type="submit" value="Ustawienia" name="action3" />
        </form>
    </div>
</body>

</html>
