<!DOCTYPE html>
<style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
    <head> 
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="content">
            <h1>Hello, World!</h1>
            <h2>Przyklad {{ test }}</h2>
            <form method="post" action="/">
                <input type="submit" value="VALUE1" name="action1"/>
                <input type="submit" value="VALUE2" name="action2" />
            </form>
        </div>
    </body>

</html>